[submodule "front"]
  path = front
  url = https://github.com/YutoMoriyasu/webapp-front
  ignore = dirty
[submodule "api"]
  path = api
  url = https://github.com/YutoMoriyasu/webapp-api
  ignore = dirty